<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GranitProd.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <GranitProd.MySettings>
            <setting name="DBSource" serializeAs="String">
                <value>.\ConfigFiles\connectionString.txt</value>
            </setting>
            <setting name="Logo" serializeAs="String">
                <value>.\Images\logoMgLaval.png</value>
            </setting>
            <setting name="ExportFile" serializeAs="String">
                <value>.\ExportFile</value>
            </setting>
            <setting name="ConfigFiles" serializeAs="String">
                <value>.\ConfigFiles</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>.\ConfigFiles\conf.ini</value>
            </setting>
            <setting name="Sablier" serializeAs="String">
                <value>.\Images\sablier.png</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>.\Images\search.png</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>.\Help\GProd_help.pdf</value>
            </setting>
            <setting name="XPSPlanning" serializeAs="String">
                <value>.\ExportFile\planning.xps</value>
            </setting>
        </GranitProd.MySettings>
    </userSettings>
</configuration>
